 <div class="header-blue" style="background-image: url('<%= asset_path('b2.jpg') %>');">
 <div class="container hero">

    <div class="row">
        <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
            <h1>A Daily Dose of Reading Inspiration</h1>
                <p> Start your literary journey.Get daily personalized book recommendations to keep your reading life exciting.
                    Track the books you've read, earn badges, and connect with like-minded readers.
                </p>
                <button class="btn btn-light btn-lg action-button" type="button">Learn More</button></div>
          <div>

    </div>
  </div>
</div>
</div>
</div>
