<div class="home-body">
  <div class="area" >
    <header class="py-5 d-flex align-items-center justify-content-center" style='height: 100vh;'>
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-9 col-xl-7 col-xxl-7 text-center">
            <div class="my-5 text-center">
              <h1 class="display-5 fw-bolder text-white mb-2">The Ultimate Reading Experience</h1>
              <p class="lead fw-normal text-white-50 mb-4">Get personalized reading recommendations, track your progress, and connect with a community of book lovers. Earn badges and climb the leaderboard as you read your way to the top.</p>
              <div class="justify-content-sm-center justify-content-xl-start text-center">
              <% if user_signed_in? %>
               <%= link_to 'Get Started', books_path, class: 'btn btn-dark btn-lg' %>
              <% else %>
                <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-dark btn-lg' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <ul class="circles" style="pointer-events:none;">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
